@model TaskbySaurabhSirUI.Models.GetPerson

@{
    ViewData["Title"] = "Editperson";
}

<h1>Editperson</h1>

<h4>Person</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Editperson" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(model => model.PersonId)
            @* <div class="form-group">
            <label asp-for="PersonId" class="control-label"></label>
            <input asp-for="PersonId" class="form-control" />
            <span asp-validation-for="PersonId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountryId" class="control-label"></label>

                @Html.DropDownListFor(x=>x.CountryId , (IEnumerable<SelectListItem>)ViewBag.Con, new { id = "CountryId", @class = "form-control" })


            </div>
            @*<div class="form-group">
            <label asp-for="CountryId" class="control-label"></label>
            <input asp-for="CountryId" class="form-control" />
            <span asp-validation-for="CountryId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="StateId" class="control-label"></label>
                @*<input asp-for="StateId" class="form-control" />*@
                <select id="stateId" class="form-control" name="StateId">
                </select>
                <span asp-validation-for="StateId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CityId" class="control-label"></label>
                @*  <input asp-for="CityId" class="form-control" />*@
                <select id="city-dd" class="form-control" name="CityId">
                </select>
                <span asp-validation-for="CityId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FileName" class="control-label"></label>
                <input asp-for="FileName" class="form-control" />
                <span asp-validation-for="FileName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="base64data" class="control-label"></label>
                <input asp-for="base64data" type="file" class="form-control" />
                <span asp-validation-for="base64data" class="text-danger"></span>
            </div>
            @* <input asp-for="base64data" class="form-control" />*@
            @* <img src="@String.Format("data:image/jpg;base64,{0}",Model.base64data)" />*@
            <div class="form-group">
                <img width="300" height="200" src="@String.Format("data:image/jpg;base64,{0}",Model.base64data)" />
            </div>
            <div class="btn-group btn-group-sm">
            <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" style="margin-right:10px" />
            </div>
          
                <div>
                    <a asp-action="GetPerson" class="btn btn-primary">Back</a>
                    @* <a asp-action="GetPerson">Back to List</a>*@
                </div>
                </div>
           
        </form>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            GetStateByCountry();

            setTimeout(function () {
                GetCityByState();
            }, 200);
           

        });

        $('#CountryId').on('change', function () {

            GetStateByCountry();
        });
        function GetStateByCountry() {
            var countryId = $("#CountryId").val();
            $("#stateId").html('');
            $.ajax({
                url: "/Home/GetStateById",
                type: "Post",
                data: { "CountryId": countryId },
                dataType: 'json',
                success: function (result) {
                    console.log(result);
                    $('#stateId').html('<option value="">Select State</option>');
                    $.each(result, function (key, value) {

                        $("#stateId").append('<option value="' + value
                            .stateId + '">' + value.stateName + '</option>');

                    });
                    //$('#city-dd').html('<option value="">Select City</option>');
                    $("#stateId option[value=@Model.StateId]").attr("selected", "selected");
                }
            });
        }

        $('#stateId').on('change', function () {
            GetCityByState();
        });


        function GetCityByState() {
            
            var StateId = $('#stateId').val();
            $("#city-dd").html('');
            $.ajax({
                url: "/Home/GetCity",
                type: "POST",
                data: { "stateid": StateId },

                dataType: 'json',
                success: function (res) {
                    console.log(res);
                    var data = res;
                    $('#city-dd').html('<option value="">Select City</option>');
                    $.each(res, function (key, value) {
                        $("#city-dd").append('<option value="' + value.cityId + '">' + value.cityName + '</option>');
                    });
                    $("#city-dd option[value=@Model.CityId]").attr("selected", "selected");
                }
            });
        }
                


    </script>
}
